<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 配置DAO-->
	<bean id="machineTypeDAO" class="com.mproj.dao.impl.MachineTypeDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="machineDAO" class="com.mproj.dao.impl.MachineDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userDAO" class="com.mproj.dao.impl.UserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	
	<!-- 配置Service-->
	<bean id="machineService" class="com.mproj.service.impl.MachineServiceImpl">
		<property name="machineDAO" ref="machineDAO"></property>
	</bean>
	<bean id="userService" class="com.mproj.service.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO"></property>
	</bean>
	 
	 
	<!-- 配置Action --> 
	<bean id="userAction" class="com.mproj.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>	
	</bean>
	
</beans>

